@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.aside-blog {
  background-color: $alternative2;

  &__title,
  &__tags-title {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-ml;
    line-height: $lh-me;
    gap: $space-base;
    padding: $space-lg;
  }

  &__link {
    text-decoration: none;
    color: $primary;
    @include button-secondary-style;
  }

  &__tags-item {
    font-size: $fz-xs;
    line-height: $lh-m;
    text-decoration: none;
  }

  &__tags-link {
    padding: $space-1xs $space-md;
    border: $border $separatorbold;
    color: $primary;
    @include button-secondary-style;
  }
}
