@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.blog {
  &-card &--large {
    width: $width;
    height: $height-l;
    padding: $space-lg;
    background-color: $alternative2;
  }

  &--small {
    width: $width;
    height: $height-s;
    padding: $space-lg;
    background-color: $alternative2;
  }

  &-card__author-icon {
    width: $width-m;
    height: $height-xs;
    opacity: 1;
  }

  &-card__date-icon {
    width: $width-m;
    height: $height-xs;
    opacity: 1;
  }
  &-card__link-icon {
    width: $width-c;
    height: $height-t;
    opacity: 1;
  }
}
