@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.blog-article {
  &__image {
    width: $width-n;
    height: $height-m;
    gap: $gap;
    opacity: 1;
    padding: $space-base $space-lg;
  }
  &__title {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-xl;
    line-height: $lh-xl;
    letter-spacing: $ls-xs;
  }

  &__label {
    opacity: 1;
    padding-top: $space-2s;
    padding-right: $space-lg;
    padding-bottom: $space-2s;
    padding-left: $space-lg;
    background-color: $marina800;
  }

  &__subtitle {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-lg;
    line-height: $lh-lg;
  }

  &__author-icon {
    width: $width-m;
    height: $height-xs;
    opacity: 1;
  }

  &__date-icon {
    width: $width-m;
    height: $height-xs;
    opacity: 1;
  }

  &__bullet-item {
    font-size: $fz-md;
    line-height: $lh-md;
  }

  &__icon {
    width: $width-c;
    height: $height-t;
    opacity: 1;
    color: $accent-link-invert ;
  }

  &__quote {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-lg;
    line-height: $lh-lg;
    padding: $space-base;
    border-radius: $br2;
    background-color: $marina1200;
    color: $alternative-invert;
  }

  &__picture {
    width: $width-r;
    height: $height-r;
    gap: $gap;
    opacity: 1;
    padding: $space-base;
  }

  &-value,
  &-author {
    font-family: $ff-body;
    font-weight: $fw-semibold;
    font-size: $fz-xs;
    line-height: $lh-m;
  }

  &__subtitle-link {
    color: $marina400;
  }

  &__tag-link {
    padding: $space-1xs $space-md;
    border: $border $separatorbold;
    font-size: $fz-xs;
    line-height: $lh-m;
    text-align: center;
    color: $primary;
    text-decoration: none;
    @include button-secondary-style;
  }

  &__share-link {
    padding: $space-s;
    color: $primary;
    text-decoration: none;
    @include button-secondary-style;
  }

  &__share-icon {
    width: $width-r;
    height: $height-y;
    gap: $gap-q;
    opacity: 1;
    border-width: $bw;
    padding: $space-s;
    border: $border $separatorbold;
  }
}
