@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.blog {
  &-card &--large {
    width: $width;
    height: $height-l;
    padding: $space-lg;
    background-color: $alternative2;
  }

  &--small {
    width: $width;
    height: $height-s;
    padding: $space-lg;
    background-color: $alternative2;
  }
}
