@use "../base/variables" as *;
@use "../base/mixins" as *;

.catalog-banner {
  background-image: url("@/assets/images/big-lines.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-2xl;
    line-height: $lh-2xl;
    letter-spacing: $ls-xs;
    text-align: center;
  }
  &__navigation-link {
    font-family: $ff-body;
    font-weight: $fw-semibold;
    font-size: $fz-xs;
    line-height: $lh-m;
    letter-spacing: $ls-0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    @include link-style;
  }
}
