@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.contact-form {
  &__form {
    text-align: center;
  }
  &__title {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-xl;
    line-height: $lh-xl;
    letter-spacing: $ls-xs;
    text-align: center;
  }

  &__subtitle {
    font-family: $ff-body;
    font-weight: $fw-medium;
    font-size: $fz-m;
    line-height: $lh-md;
    text-align: center;
  }

  &__label {
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: $fz-xs;
    line-height: $lh-m;

 
  }


  &__input {
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: $fz-xs;
    line-height: $lh-m;
    color: $alternative3-invert;
    background-color: transparent;

       &:checked {
      border-color: $separatorbold;
    }

    &:hover {
      border-color: $marina600;
    }

    &:focus {
      border-color: $focus-invert;
    }

    &:invalid {
      border-color: $negative;
    }
  }

  &__fieldset{
    border: none;
  }

  &__radio-label {
    position: relative;
    display: inline-block;
    padding-left: $space-l;
  }

  &__input--radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: $top;
    left: $left-xs;

    &:checked {
      &::before {
        content: "";
        display: block;
        border-radius: 50%;
        width: $width-me;
        height: $height-me;
        top: $top;
        left: $left-xs;
        border-width: $bw;
        border: $border;
        border-color: $line;
        background-color: $base;
        position: absolute;
        z-index: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: $top;
      left: $left-xs;
      width: $width-m;
      height: $height-xs;
      border-radius: 50%;
      border: $border $line;
      box-sizing: border-box;
    }

    &:hover::after {
      box-shadow: inset 0 0 0 4px  $separatorbold-invert;
      border-color: $line;
    }

    &:active::after {
      background-color: transparent;
      box-shadow: inset 0 0 0 4px $marina200;
    }

    &:focus::after {
      box-shadow: inset 0 0 0 4px  $alternative3-invert;
      border-color: $focus-invert;
    }

    &:disabled::after {
      background-color: $separatorbold;
    }

    &:invalid::after {
      border-color: $negative;
    }
  }
  &__input--radio:checked::before {
    box-shadow: inset 0 0 0 4px  $accent-link-invert;
    border-color: $accent-link-invert;

    &:hover::before {
      box-shadow:inset 0 0 0 4px  $marina600;
      border-color: $marina600;
    }
    &:active::before {
      box-shadow: inset 0 0 0 4px $marina200;
    }
    &:focus::before {
      box-shadow: inset 0 0 0 4px  $marina600;
      border-color: $marina600;
    }
    &:disabled::before {
      background-color: $separatorbold;
      box-shadow: inset 0 0 0 4px $alternative3-invert;
    }
  }

  &__checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    width: $width-m;
    height: $height-xs;
    top: $top-s;
    left: $left;
    border-radius: $br;
    border-width: $bw;
    border: $border;
    border-color: $line;
    background-color: $base;

    &:hover {
      background-color: $alternative2;
      border-color: $line;
    }

    &:active {
      background-color: $marina200;
      border-color: $marina200;
    }

    &:focus {
      background-color: $alternative;
      border-color: $focus-invert;
    }

    &:disabled {
      background-color: $separatorbold;
      border-color: $separatorbold;
    }
  }
  &__checkbox-input:checked {
    background-color: $marina800;
    border-color: $marina800;

    &:hover {
      background-color: $marina600;
      border-color: $marina600;
    }
    &:active {
      background-color: $marina200;
      border-color: $marina200;
    }
    &:focus {
      background-color: $marina800;
      border-color: $marina600;
    }
    &:disabled {
      background-color: $separatorbold;
      border-color: $separatorbold;
    }
  }
}
