@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.footer {
  background-color: $alternative;
  padding-inline: $space-4xl;
  padding-block: $space-4xl $space-xl;

  &__image {
    width: $width-p;
    height: $height-p;
    opacity: 1;
    top: $top-b;
    left: $left-b;
  }

  &__title {
    font-size: $fz-m;
    line-height: $lh-md;
  }

  &-navigation {
    &__list-link {
      font-size: $fz-2xs;
      line-height: $lh-sm;
      color: $primary;
      text-decoration: none;
      @include link-style;
    }
  }

  &__social-link {
    color: $primary;
    text-decoration: none;
    @include link-style;
  }

  &__social-image {
    width: $width-q;
    height: $height-q;
    gap: $gap-q;
    opacity: 1;
    padding: $space-md;
  }
}
