@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.header {
  padding: $space-1xl;

  &__logo {
    width: $width-p;
    height: $height-p;
    opacity: 1;
    top: $top-b;
    left: $left-b;
  }

  &__logo-image {
    width: $width-nm;
    height: $height-k;
    opacity: 1;
  }

  &__search-icon {
    width: $widht-v;
    height: $height-v;
    opacity: 1;
    top: $top-q;
    left: $left-q;
  }

  &__button-icon {
    width: $width-c;
    height: $height-t;
    opacity: 1;
  }

  &__navigation {
    &-link {
      color: $primary;
      line-height: $lh-base;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
    }

    &-icon {
      width: $width-c;
      height: $height-t;
      opacity: 1;
    }

    &-item {
      &--active {
        border-bottom: $border $marina800;
      }
    }
  }

  &__search-bar {
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: $fz-xs;
    line-height: $lh-m;
    letter-spacing: $ls-0;
    background-color: $alternative;
    border: $border;
    border-color: $separatorbold;
  }

  &__button {
    @include button-base;
  }
}
