@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.product-card {
  padding: $space-lg;
  background-color: $alternative2;
  position: relative;

  &__label {
    position: absolute;
    padding: $space-s $space-2s;
    line-height: $lh-m;
    top: $top-a;
    right: $right;
  }

  &__label--new {
    background-color: $primary;
    color: $marina800;
  }

  &__label--updated {
    background-color: $negative;
    color: $primary;
  }

  &__image {
    width: $height-w;
    height: $height-w;
  }

  &__value {
    font-family: $ff-heading;
    font-size: $fz-xl;
    line-height: $lh-xl;
    letter-spacing: $ls-xs;
    color: $primary;
  }

  &__name {
    font-size: $fz-m;
    line-height: $lh-md;
    color: $secondary;
  }
}
