@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.team {
  &__title {
    font-family: $ff-heading;
    font-weight: $fw-regular;
    font-size: $fz-xl;
    line-height: $lh-xl;
    letter-spacing: $ls-xs;
    text-align: center;
  }
  &-member{
    background-color:$alternative2;
  }

  &-member__name {
    font-family: $ff-heading;
    font-size: $fz-ml;
    line-height: $lh-me;
    color: $grey1;
  }

  &-member__image {
    width: $width-l;
    height: $height-c;
    top: $top-a;
    left: $top-a;
    opacity: 1;
    border-radius: 50%;
    display: block;
  }

  &-member__role {
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: $fz-md;
    line-height: $lh-md;
    letter-spacing: $ls-0;
    color: $secondary;
  }
}
