@use "../base/variables.scss" as *;

.blog-article__title {
  font-family: $ff-heading;
  font-weight: $fw-regular;
  font-size: $fz-xl;
  line-height: $lh-xl;
  letter-spacing: $ls-xs;
}

.blog-article__label {
  opacity: 1;
  padding-top: $space-2s;
  padding-right: $space-lg;
  padding-bottom: $space-2s;
  padding-left: $space-lg;
  background-color: $marina800;
}

.blog-article__subtitle {
  font-family: $ff-heading;
  font-weight: $fw-regular;
  font-size: $fz-lg;
  line-height: $lh-lg;
}

.blog-article__bullet-item {
  font-size: $fz-md;
  line-height: $lh-md;
}

.blog-article__quote {
  font-family: $ff-heading;
  font-weight: $fw-regular;
  font-size: $fz-lg;
  line-height: $lh-lg;
  padding: $space-base;
  border-radius: 16px;
  background-color: $marina1200;
  color: rgba(248, 247, 255, 1);
}

.blog-article__quote-value,
.blog-article__quote-author {
  font-family: $ff-body;
  font-weight: $fw-semibold;
  font-size: $fz-xs;
  line-height: $lh-m;
}

.blog-article__subtitle-link {
  color: $marina400;
}

.blog-article__tag-link {
  padding: $space-1xs $space-md;
  border: 2px solid $separatorbold;
  font-size: $fz-xs;
  line-height: $lh-m;
  text-align: center;
  color: $primary;
  text-decoration: none;
}

.blog-article__share-link {
  padding: $space-s;
  color: $primary;
  text-decoration: none;
}
