@use "../base/variables.scss" as *;

.footer {
  background-color: $alternative;
  padding-inline: $space-4xl;
  padding-block: $space-4xl $space-xl;
}

.footer__title {
  font-size: $fz-m;
  line-height: $lh-md;
}

.footer-navigation__list-link {
  font-size: $fz-2xs;
  line-height: $lh-sm;
  color: $primary;
  text-decoration: none;
}
.copyrights__text {
font-family: $ff-body;
font-weight: $fw-regular;
font-size: $fz-xs;
line-height: $lh-m;
letter-spacing: $ls-0;
  color: $primary;
}

.footer__social-link {
  color: $primary;
  text-decoration: none;
}
