@use "../base/variables.scss" as *;

.team__title,
.team-member__name {
  font-family: $ff-heading;
  font-size: $fz-ml;
  line-height: $lh-me;
  color: $grey1;
}

.team-member__role {
  font-family: $ff-body;
  font-weight: $fw-regular;
  font-size: $fz-md;
  line-height: $lh-md;
  letter-spacing: $ls-0;
  color: $secondary;
}
