<section class='catalog'>
  <img class='catalog__image' src='{{ catalog.image.src }}' alt='{{ catalog.image.alt }}'>
  <h2 class='catalog__title'>{{ catalog.title }}</h2>
  <a class='catalog__link' href='{{ catalog.seeAllHref }}'>See all</a>

  <div class='catalog__controls'>
    <button class='catalog__button button button--secondary' type='button'>
      <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'>
        <path fill="#F5F8FB" fill-rule="evenodd" d="M15.7 5.3a1 1 0 0 1 0 1.4L10.42 12l5.3 5.3a1 1 0 0 1-1.42 1.4l-6-6a1 1 0 0 1 0-1.4l6-6a1 1 0 0 1 1.42 0Z" clip-rule="evenodd"/>
      </svg>
    </button>
    <button class='catalog__button button button--primary' type='button'>
      <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'>
        <path fill="#0D0D15" fill-rule="evenodd" d="M8.3 5.3a1 1 0 0 1 1.4 0l6 6a1 1 0 0 1 0 1.4l-6 6a1 1 0 0 1-1.4-1.4l5.29-5.3-5.3-5.3a1 1 0 0 1 0-1.4Z" clip-rule="evenodd"/>
      </svg>
    </button>
  </div>

  <ul class='catalog__list'>
    {% for product in catalog.products %}
      {% if product.section == 'homepage' %}
        {% include './product-card.twig' %}
      {% endif %}
    {% endfor %}
  </ul>
</section>
