<header class='header'>
  <a class='header__logo' href='{{ index.html }}'>
    <img class='header__logo-image' src='{{ # }}' alt='{{ BINABOX logo }}'>
  </a>
  {% include 'partials/ui/nav.twig' %}
  {% from 'partials/ui/button.twig'import button %}
  {{ button('header__button','button','primary') }}
  {{ button('header__button','button','secondary') }}
</header>
