<header class='header'>
  <a class='header__logo' href='{{ header.href }}'>
    <svg class='header__logo-image'>
      <use href='{{ header.logo_href }}'></use>
    </svg>
  </a>

  {% include './nav.twig' %}
  {% include './header-search.twig' %}
  {% import 'buttons.twig' as macros %}

  <div class='header__buttons'>
    {# Secondary Discord button #}
    {{
      macros.button(
      'header__button',
      'Discord-secondary',
      'secondary',
      'src/assets/sprite.svg#icon-discord-white',
      '',
      'Discord'
      )
    }}
    {# Primary Connect button #}
    {{
      macros.button(
      'header__button',
      'Log In-primary',
      'primary',
      'src/assets/sprite.svg#icon-user',
      '',
      'Log In'
      )
    }}
  </div>
</header>
