<header class='header'>
  <a class='header__logo' href='{{ index.html }}'>
    <img class='header__logo-image' src='{{ }}' alt=' BINABOX logo '>
  </a>

  {% include './nav.twig' %}
  {% import 'buttons.twig' as macros %}

  <div class='header__buttons'>
    {# Secondary Discord button #}
    {{
      macros.button(
      'header__btn',
      'Discord-secondary',
      'secondary',
      '',
      '',
      'Discord'
      )
    }}
    {# Primary Connect button #}
    {{
      macros.button(
      'header__btn',
      'Log In-primary',
      'primary',
      '',
      '',
      'Log In'
      )
    }}
  </div>
</header>
