<nav class='header__navigation'>
  <ul class='header__navigation-list'>
    {% for item in index.navigation %}
      <li class='header__navigation-item {% if item.name == currentPage %}header__navigation-item--active{% endif %}'>
        <a class='header__navigation-link' href='{{ item.href }}'>
          {{ item.name }}
            <svg class="header__navigation-icon">
            <use href="{{ navigationIcon }}"></use>
          </svg>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
