<nav class='header__navigation'>
  <ul class='header__navigation-list'>
    {% for item in index.navigation %}
      <li class='header__navigation-item {% if item.name == currentPage %}header__navigation-item--active{% endif %}'>
        <a class='header__navigation-link' href='{{ item.href }}'>
          {{ item.name }}
          <svg class="header__navigation-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#F5F8FB" d="m10 12-1-1-9-9V1a1 1 0 0 1 1-1h1l9 9h-1l8-9a1 1 0 0 1 2 0l1 1-1 1-9 9v1h-1Z"/>
          </svg>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
