/* General Styles*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: rgba(13, 13, 21, 1);
  color: rgba(245, 248, 251, 1);
}

h1, h2, h3 {
  font-family: "Bakbak One", sans-serif;
  letter-spacing: -0.5px;
}

ul {
  list-style: none;
}


/* Header Block */
header {
  padding: 32px;
  background-color: rgba(13, 13, 21, 1);
}

.header__navigation-link {
  color: rgba(245, 248, 251, 1);
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.header__navigation-item--active {
  border-bottom: 2px solid rgba(2, 101, 220, 1);
}

.header__button {
  opacity: 1;
  border-width: 2px;
  padding: 10px 24px;
  color: rgba(245, 248, 251, 1);
}


/* Buttons*/
.button--primary {
  background-color: rgba(2, 101, 220, 1);
  border: 2px solid rgba(2, 101, 220, 1);
  color: rgba(245, 248, 251, 1);
  padding: 10px 24px;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 10px 24px;
  color: rgba(245, 248, 251, 1);
}

.button--tertiary {
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 8px 20px;
  text-align: center;
  color: rgba(245, 248, 251, 1);
  text-decoration: none;
}

.banner__button,
.blog__cta-button-link {
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 10px 24px;
  color: rgba(245, 248, 251, 1);
}


/* Banner Block*/
.banner__section-brand {
  color: rgba(2, 101, 220, 1);
}

.banner__section-description {
  font-size: 20px;
  line-height: 28px;
  color: rgba(217, 217, 217, 1);
}

.banner__label {
  font-size: 16px;
  line-height: 24px;
  color: rgba(239, 245, 250, 0.82);
}

.banner__value {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
  color: rgba(245, 248, 251, 1);
}


/*Catalog Block*/
.catalog__link {
  padding: 10px 24px;
  text-decoration: none;
  border: 2px solid rgba(208, 215, 251, 0.17);
  background-color: transparent;
  color: rgba(245, 248, 251, 1);
}


/* Product Card Block */
.product-card {
  padding: 24px;
  background-color: rgba(29, 28, 40, 1);
}

.product-card__label {
  padding: 8px 10px;
  background-color: rgba(245, 248, 251, 1);
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: rgba(2, 101, 220, 1);
}

.product-card__label--updated {
  background-color: rgba(234, 56, 41, 1);
  color: rgba(245, 248, 251, 1);
}

.product-card__value {
  font-family: "Bakbak One", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: rgba(245, 248, 251, 1);
}

.product-card__name {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: rgba(239, 245, 250, 0.82);
}


/* Blog Homepage block */
.blog-card--large {
  width: 784px;
  height: 900px;
  min-width: 512px;
  padding: 24px;
  background-color: rgba(29, 28, 40, 1);
}

.blog-card--small {
  width: 784px;
  height: 434px;
  padding: 24px;
  background-color: rgba(29, 28, 40, 1);
}


/* About Us Block */
.about__list-item {
  text-decoration: none;
  background: rgba(26, 25, 37, 1);
}


/* FAQ Block */
.faqs__item {
  background-color: rgba(29, 28, 40, 1);
  padding: 24px;
}

.faqs__question {
  font-family: "Bakbak One", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: rgba(245, 248, 251, 1);
}


/* Blog Page Block */
.blog-article__quote {
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(0, 39, 84, 1);
  color: rgba(248, 247, 255, 1);
}

.blog-article__tag-link {
  padding: 6px 12px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(245, 248, 251, 1);
  text-decoration: none;
}

.blog-article__share-link {
  padding: 8px;
  color: rgba(245, 248, 251, 1);
  text-decoration: none;
}


/* Aside Blog Block */
.aside-blog {
  gap: 16px;
  padding: 24px;
  background-color: rgba(29, 28, 40, 1);
}

.aside-blog__link {
  text-decoration: none;
  color: rgba(245, 248, 251, 1);
}

.aside-blog__tags-item,
.aside-blog__tags-link {
  padding: 6px 12px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(245, 248, 251, 1);
  text-decoration: none;
}


/* Footer Block */
.footer {
  background-color: rgba(26, 25, 37, 1);
  padding-inline: 64px;
  padding-block: 64px 32px;
}

footer nav ul {
  list-style: none;
}

.footer__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: rgba(245, 248, 251, 1);
}

.copyrights__text {
  color: rgba(2, 101, 220, 1);
}

.footer__Social-link {
  color: rgba(245, 248, 251, 1);
}
