@use "../abstract/variables.scss" as *;
@use "../abstract/mixins.scss" as *;

.about__title,
.about__item-title {
  font-family: $ff-heading;
  font-weight: $fw-regular;
  font-size: $fz-ml;
  line-height: $lh-me;
}

.about__list-item {
  text-decoration: none;
  background: $alternative;
}

.button {
  @include button-base;
  @include button-secondary;
}
