@use "../abstract/variables.scss" as *;

.aside-blog__title,
.aside-blog__tags-title {
  font-family: $ff-heading;
  font-weight: $fw-regular;
  font-size: $fz-ml;
  line-height: $lh-me;
}

.aside-blog {
  gap: 16px;
  padding: $space-lg;
  background-color: $alternative2;
}

.aside-blog__link {
  text-decoration: none;
  color: $primary;
}

.aside-blog__tags-item {
  font-size: $fz-xs;
  line-height: $lh-m;
  text-align: center;
  text-decoration: none;
}

.aside-blog__tags-link {
  padding: $space-1xs $space-md;
  border: 2px solid $seporatorbold;
  color: $primary;
}
