@use "../abstract/variables.scss" as *;
@use "../abstract/mixins.scss" as *;

.header {
  padding: $space-1xl;
  background-color: $base;

  &__navigation-lnk {
    color: $primary;
    line-height: $lh-base;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  }

  &__navigation-item--active {
    border-bottom: 2px solid $marina800;
  }

  &__button {
    @include button-base;
    @include button-primary;
  }

  &__button--secondary {
    @include button-base;
    @include button-secondary;
  }
}
