@use "../base/variables.scss" as *;

@mixin button-border($border: 2px, $color: transparent) {
  border: $border solid;
  border-color: $color;
}

@mixin button-base($border: 2px, $padding: 10px 24px) {
  opacity: 1;
  @include button-border($border, transparent);
  padding: $space-2s $space-lg;
  color: $primary;
  text-decoration: none;
  text-align: center;
}

@mixin button-primary($border: 2px) {
  background-color: $marina800;
  @include button-border($border, $marina800);
}

@mixin button-primary-style {
  cursor: pointer;
  &:hover {
    background-color: $marina600;
    border-color: $marina600;
  }

  &:focus {
    background-color: $marina800;
    box-shadow: 0 0 0 4px $marina600;
    outline: none;
  }

  &:active {
    background-color: $marina2000;
  }

  &:disabled {
    background-color: $alternative3;
    cursor: not-allowed;
  }
}

@mixin button-secondary($border: 2px) {
  background-color: transparent;
  @include button-border($border, $separatorbold);
}

@mixin button-secondary-style {
  cursor: pointer;
  &:hover {
    background-color: $separator;
  }

  &:focus {
    background-color: $separator;
    box-shadow: 0 0 0 4px $marina600;
    outline: none;
  }

  &:active {
    background-color: $separator;
  }

  &:disabled {
    background-color: $separatorbold;
    border-color: $disabled;
    cursor: not-allowed;
  }
}
@mixin button-tertiary($border: 2px, $padding: 8px 20px) {
  @include button-border($border, $separatorbold);
  padding: $space-s $space-m;
  color: $primary;
}

@mixin blog__cta-link($border: 2px, $padding: 8px 20px) {
  @include button-border($border, $separatorbold);
  padding: $space-s $space-m;
  color: $primary;
}

@mixin catalog__button($padding: 16px) {
  padding: $space-base;
}

@mixin link-style {
  cursor: pointer;
  &:hover {
    color: $marina600;
  }

  &:focus {
    color: $marina400;
    box-shadow: 0 0 0 4px $marina600;
    outline: none;
  }

  &:active {
    color: $marina2000;
  }

  &:disabled {
    color: $disabled;
    cursor: not-allowed;
  }
}
